name: Build

on:
    push:
        branches:
            - "*"
    pull_request:
        types: ["opened", "reopened", "synchronize"]


jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - uses: actions/setup-node@v4
              with:
                  node-version-file: ".node-version"

            - uses: pnpm/action-setup@v4
              with:
                  run_install: |
                      - recursive: true
                        args: [--frozen-lockfile, --strict-peer-dependencies]
                      - args: [--global, "@vscode/vsce"]

            - name: Package
              run: vsce package --no-dependencies

            - name: Upload
              uses: actions/upload-artifact@v4
              with:
                  name: vsiz
                  path: |
                      out/
                      *.vsix
