name: Publish

on:
    push:
        tags:
            - "v*"

jobs:
    publish:
        if: startsWith(github.ref, 'refs/tags/v')
        permissions:
            contents: write
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - uses: actions/setup-node@v6
              with:
                  node-version-file: ".node-version"

            - uses: pnpm/action-setup@v4
              with:
                  run_install: |
                      - recursive: true
                        args: [--frozen-lockfile, --strict-peer-dependencies]
                      - args: [--global, "@vscode/vsce"]

            - name: Package
              run: vsce package --no-dependencies

            - name: Publish to Github Releases
              uses: softprops/action-gh-release@e798e6a1ede8d07b74ac4cdac6bdfa4cc1653907
              with:
                  files: |
                      *.vsix

            - name: Publish to VS Code Marketplace
              run: vsce publish --no-dependencies
              env:
                  VSCE_PAT: ${{ secrets.VSCE_PAT }}
